body {
  background-color: #000;
  color: #fff;
}

a img {
  border: none;
}

div.pagetitle {
  text-align: center;
}

div.photobox {
  /*position: relative;
  text-align: center;
  width: 400px;*/
  margin: 0 auto;
}

div.photo {
  display: none;
  text-align: center;
  margin-top: 50px;
}

div.photo img {
  /*position: relative;
  background: #fff;
  color: #000;
  padding: 0 0 0 25px;*/
  border: 3px #fff solid;
  margin-top: 15px;
}

div.photostrip {
  position: absolute;
  bottom: 15px;
  left: 10%;
  width: 80%;
  height: 95px;
  overflow: auto;
  background: #F4F4F4;
  border: solid #AAA;
}

div.thumbs {
  position: relative;
  height: 75px;
  width: 8000px;
}

div.thumbnail {
  float: left;
  border: 1px solid black;
  width: 75px;
  height: 75px;
  margin: 3px;
}

div.mosaic {
  margin: 25px auto;
  width: 80%;
}
